In [36]:
a='hello'

In [37]:
a

'hello'

In [38]:
type(a)

str

In [39]:
l=[1,2,3,4,5,'hello',True,24.45]

In [40]:
type(l)

list

In [41]:
a=23.45

In [42]:
type(a)

float

In [43]:
a=5+4j

In [44]:
type(a)

complex

In [45]:
var1='hello'

In [46]:
type(var1)

str

In [47]:
var3= [2,True,'hello']

In [48]:
type(var3)

list

In [49]:
var4=1

In [50]:
type(var4)

int

In [51]:
4/2

2.0

In [52]:
4%2

0

In [53]:
4//2

2

In [54]:
4**2

16

In [55]:
l= [2,3,4,5,6,True,False,'hello','bye',23.90]

In [56]:
l= [2,3,4,5,6,True,False,'hello','bye',23.90]
for z in l:
    print (z)
    print (type (z))

2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'int'>
6
<class 'int'>
True
<class 'bool'>
False
<class 'bool'>
hello
<class 'str'>
bye
<class 'str'>
23.9
<class 'float'>

In [57]:
n=4
i=2
while n/i:
    print (i)
    n/i
    break

2

In [58]:
l= (2,3,4,5,True,False, 43.24, "hello", "bye")

In [62]:
l= (2,3,4,5,True,False, 43.24)
for z in l:
    print (z)
    if z/3 :
        print (z/3)
    else:
        print("this is not divisible by 3")

2
0.6666666666666666
3
1.0
4
1.3333333333333333
5
1.6666666666666667
True
0.3333333333333333
False
this is not divisible by 3
43.24
14.413333333333334

In [63]:
l=(4,5,6,7,100,True,23.45,"hello")

In [75]:
l[3]=70

In [76]:
l

[2, 300, 4, 70, 6, 'sweta', (3+7j), True, 34.56]

In [69]:
l[5]

True

In [71]:
l=[2,3,4,5,6,'sweta', 3+7j, True, 34.56]

In [72]:
l

[2, 3, 4, 5, 6, 'sweta', (3+7j), True, 34.56]

In [73]:
l[1]=300

In [74]:
l

[2, 300, 4, 5, 6, 'sweta', (3+7j), True, 34.56]

In [77]:
s="python"

In [78]:
type(s)

str

In [79]:
s[2]=a

TypeError: 'str' object does not support item assignment